<h1>Category List</h1>
number exposure name
<ol>
  <% @categories.each do |category|%>
    <li>
      <%=category.exposure%>
      <%=category.name %>
      <%=link_to "Edit", edit_cfg_category_path(category) %>
      <%=link_to "Delete", cfg_category_path(category),
                           :method =>:delete,
                           :confirm => "if there are children, children will be deleted too, Are you sure?"%>
    </li>
      <% if category.children %>
        <ul>
          <% category.children.each do |child| %>
          <li>
            <%= child.name %>
            <%= link_to "Edit", edit_cfg_category_path(child) %>
            <%= link_to "Delete", cfg_category_path(child),
                                  :method => :delete,
                                  :confirm => "Are you sure?" %>
          </li>
          <% end %>
        </ul>
      <% end %>
  <% end %>
</ol>
<%= link_to "New", new_cfg_category_path %>