<% form_for(@post) do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :category_id %>
  <%= f.select(:category_id, @categories.collect {|c| [c.full_name, c.id] })%>
</div>
<div>
  <%= f.label :author %>
  <%= User.find(session[:user_id]).name %>
  <%= f.hidden_field :author , :value => User.find(session[:user_id]).name %>
</div>
<div>
  <%= f.label :content %><br />
  <%= f.cktext_area :content %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
